* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2 {
    background-color: chocolate;
    text-align: center;
}

body {
    background-image: url(../img/cook.jpg);
}

.note {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0;
}

p {
    margin-left: 150px;
    font-size: large;
}

li {
    margin-left: 200px;
    font-size: large;
}

.enjoy {
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0;
}

button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid red;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
}