* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    background-color: chocolate;
    text-align: center;
    margin: 0 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    border-top: 0;
    width: 70%;
    align-self: center;
}


h2 {
    background-color: chocolate;
    text-align: center;
    margin: 0 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    width: 500px;
    align-self: center;
}

body {
    background-image: url(../img/cook.jpg);
    border: 5px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div {
    background-color: transparent;
     display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}


img {
    display: flex;
    width: 500px;
    height: auto;
    border: 3px solid brown;
    align-self: center;
    border-radius: 15px;
}

.note {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0;
    font-style: italic;
    font-size: 20px;
}

p {
    font-size: x-large;
    background-color: transparent;
    padding: 50px;
    margin: 0 10px;
    border-radius: 12px;
}

li {
    margin-left: 20px;
    font-size: x-large;
}

.enjoy {
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0;
}

button {
    display: block;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    border: 1px solid red;
    background-color: chocolate;
    margin: auto;
    border-bottom: 4px solid blue;
    margin-bottom: 5px;
}

button:hover {
    background-color: blue;
}


a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}
