h1 {
    background-color: chocolate;
    text-align: center;
    color: black;
    padding: 18px;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../../recipes/img/cook.jpg);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    flex: 1;
}

a {
    text-decoration: none;
}

button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid red;
    background-color: chocolate;
    margin: auto;
}

li {
    padding: 0px;
    margin-left: 100px;
}

h2 {
    background-color: #ED7D31;
    text-align: center;
    border-radius: 12px;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
.enjoy {
    font-size: large;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin-left: 1%;
}


div {
    background: #6C5F5B;
    height: auto;
    width: 49%;
    border: 3px solid black;
    border-radius: 5px;
}

.pic {
    background-image: url(../img/pilau.jpg);
    height: 300px;
    width: 400px;
}

.description {
    height: 300px;
    width: 50%;
}

.ingredients {
    max-width: 68%;
}